.main-searchresults-wrapper{
  height: auto;
  padding-bottom: 180px;
  background-color: #333;
}
.searchresults-artist-wrapper {
  height: auto;
  padding-top: 15px;
}
.main-searchresults-wrapper h1 {
	margin-top: 20px;
  margin-bottom: 20px;
	color: white;
	font-size: 40px;
	font-weight: 700;
}
.main-searchresults-wrapper h3 {
	color: white;
	font-size: 30px;
	font-weight: 100;
  font-family: 'EB Garamond', serif;
  font-style: oblique;
}
.main-searchresults-wrapper p {
  color: white;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 100;
  font-family: 'EB Garamond', serif;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;

}
.searchresult-container {
  list-style-type: none;
  margin-top: 10px;
  background-color: #262626;
  padding: 12px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchresult-container-elements{
  display: inline-block;
  padding: 20px;
}
.searchresults-artist-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.searchresults-album-img {
  width: 200px;
  height: 200px;
}
